@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rHyJKegKZZ {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #f9f295;
}
.cid-rHyJKegKZZ H2 {
  color: #108417;
}
.cid-rHyJKegKZZ .mbr-section-subtitle {
  color: #108417;
}
.cid-rHOpmh9Ns4 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rHOpmh9Ns4 .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rHOpmh9Ns4 .section-text {
  padding: 2rem 0;
  color: #108417;
}
.cid-rHOpmh9Ns4 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rHOpmh9Ns4 .inner-container {
    width: 100% !important;
  }
}
.cid-rKPV93Kp0d {
  background: #f9f295;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cid-rKPV93Kp0d .image-block {
  margin: auto;
}
.cid-rKPV93Kp0d figcaption {
  position: relative;
}
.cid-rKPV93Kp0d figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rKPV93Kp0d .image-block {
    width: 100% !important;
  }
}
.cid-rKKOtvQVWp {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rKKOtvQVWp .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rKKOtvQVWp .section-text {
  padding: 2rem 0;
  color: #073b4c;
}
.cid-rKKOtvQVWp .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rKKOtvQVWp .inner-container {
    width: 100% !important;
  }
}
.cid-rHOuDgrv2n {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 45px;
}
.cid-rHOuDgrv2n .image-block {
  margin: auto;
}
.cid-rHOuDgrv2n figcaption {
  position: relative;
}
.cid-rHOuDgrv2n figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rHOuDgrv2n .image-block {
    width: 100% !important;
  }
}
.cid-rHQg4J4zBd {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #55b4d4;
}
.cid-rHQg4J4zBd .mbr-section-subtitle {
  color: #767676;
}
.cid-rHQg4J4zBd H2 {
  color: #ffffff;
}
.cid-rHQfu52ad0 {
  background: #ffffff;
  padding-top: 45px;
  padding-bottom: 15px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rHQfu52ad0 .image-block {
  margin: auto;
}
.cid-rHQfu52ad0 figcaption {
  position: relative;
}
.cid-rHQfu52ad0 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rHQfu52ad0 .image-block {
    width: 100% !important;
  }
}
.cid-rKKMqJiD27 {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #108417;
}
.cid-rKKMqJiD27 .mbr-section-subtitle {
  color: #767676;
}
.cid-rKKMqJiD27 H2 {
  color: #ffffff;
}
.cid-rHQhi4sf2f {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rHQhi4sf2f .card-img {
  background-color: #fff;
}
.cid-rHQhi4sf2f .card-box {
  padding: 2rem;
}
.cid-rHQhi4sf2f h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rHQhi4sf2f p {
  text-align: left;
}
.cid-rHQhi4sf2f .mbr-text {
  color: #767676;
}
.cid-rHQhi4sf2f .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rHQhi4sf2f .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-rHQhi4sf2f .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-rHOAwAxqyI {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #108417;
}
.cid-rHOAwAxqyI .line {
  background-color: #108417;
  color: #108417;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rHOAwAxqyI .section-text {
  padding: 2rem 0;
  color: #ffffff;
}
.cid-rHOAwAxqyI .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rHOAwAxqyI .inner-container {
    width: 100% !important;
  }
}
.cid-rHOAhO9zMz {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rHOAhO9zMz h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rHOAhO9zMz p {
  color: #767676;
  text-align: left;
}
.cid-rHOAhO9zMz .card-box {
  padding-top: 2rem;
}
.cid-rHOAhO9zMz .card-wrapper {
  height: 100%;
}
.cid-rHOAhO9zMz .card-title {
  text-align: center;
}
.cid-rHOHG2qG4D {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rHOHG2qG4D h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rHOHG2qG4D p {
  color: #767676;
  text-align: left;
}
.cid-rHOHG2qG4D .card-box {
  padding-top: 2rem;
}
.cid-rHOHG2qG4D .card-wrapper {
  height: 100%;
}
.cid-rHOHG2qG4D .card-title {
  text-align: center;
}
.cid-rKKRAJUg2k {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rKKRAJUg2k .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rKKRAJUg2k .number-wrap {
  color: #232323;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-rKKRAJUg2k .number {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #e30000;
}
.cid-rKKRAJUg2k .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-rKKRAJUg2k .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: block;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #e30000;
}
.cid-rKKRAJUg2k .countdown-cont {
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rKKRAJUg2k .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-rKKRAJUg2k .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-rKKRAJUg2k .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
    max-width: 25%;
    flex: 0 0 25%;
  }
  .cid-rKKRAJUg2k .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-rKKRAJUg2k .number,
  .cid-rKKRAJUg2k .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-rKKRAJUg2k .period {
    font-size: 0.8rem;
  }
}
.cid-rKKRAJUg2k H2 {
  color: #232323;
}
.cid-rKKORyO42I {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 60px;
}
.cid-rKKORyO42I .image-block {
  margin: auto;
}
.cid-rKKORyO42I figcaption {
  position: relative;
}
.cid-rKKORyO42I figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rKKORyO42I .image-block {
    width: 100% !important;
  }
}
.cid-rKKTcYsuBB {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #108417;
}
.cid-rKKTcYsuBB .mbr-section-subtitle {
  color: #767676;
}
.cid-rKKTcYsuBB H2 {
  color: #ffffff;
}
.cid-rKKU89x9uF {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rKKU89x9uF .mbr-text {
  color: #3675ff;
}
.cid-rKKU89x9uF h4 {
  text-align: center;
}
.cid-rKKU89x9uF p {
  text-align: center;
}
.cid-rKKU89x9uF .card-img span {
  font-size: 96px;
  color: #149dcc;
}
.cid-rKKVFTwGaa {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 30px;
}
.cid-rKKVFTwGaa .image-block {
  margin: auto;
}
.cid-rKKVFTwGaa figcaption {
  position: relative;
}
.cid-rKKVFTwGaa figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rKKVFTwGaa .image-block {
    width: 100% !important;
  }
}
.cid-rKKW6osYWn {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rKKW6osYWn .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rKKW6osYWn .number-wrap {
  color: #232323;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-rKKW6osYWn .number {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #ea0c0c;
}
.cid-rKKW6osYWn .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-rKKW6osYWn .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: block;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #ea0c0c;
}
.cid-rKKW6osYWn .countdown-cont {
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rKKW6osYWn .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-rKKW6osYWn .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-rKKW6osYWn .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
    max-width: 25%;
    flex: 0 0 25%;
  }
  .cid-rKKW6osYWn .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-rKKW6osYWn .number,
  .cid-rKKW6osYWn .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-rKKW6osYWn .period {
    font-size: 0.8rem;
  }
}
.cid-rKKW6osYWn H2 {
  color: #232323;
}
.cid-rKVz5dtmLl {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #4686ea;
}
.cid-rKVyHGq474 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rKVyHGq474 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rKVyHGq474 p {
  color: #767676;
  text-align: left;
}
.cid-rKVyHGq474 .card-box {
  padding-top: 2rem;
}
.cid-rKVyHGq474 .card-wrapper {
  height: 100%;
}
.cid-rKKWtXZe1B {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 0px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rKKWtXZe1B .image-block {
  margin: auto;
}
.cid-rKKWtXZe1B figcaption {
  position: relative;
}
.cid-rKKWtXZe1B figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rKKWtXZe1B .image-block {
    width: 100% !important;
  }
}
.cid-rKL3PTjRJI {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-rKL3PTjRJI .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rKL3PTjRJI .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-rKL3PTjRJI .media-wrap img {
  height: 6rem;
}
.cid-rKL3PTjRJI .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-rKL3PTjRJI .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rKL3PTjRJI .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-rKL3PTjRJI .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rKL3PTjRJI .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-rKL3PTjRJI .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rKL3PTjRJI .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rKL3PTjRJI .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rKL3PTjRJI .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rKL3PTjRJI .copyright > p {
  text-align: left;
}
.cid-rKLeQrM8Qn {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #64fc12;
}
.cid-rKLeQrM8Qn .mbr-section-subtitle {
  color: #767676;
}
.cid-rKLeQrM8Qn H2 {
  color: #232323;
}
.cid-rKLfe8CObU {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rKLfe8CObU .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rKLfe8CObU .section-text {
  padding: 2rem 0;
  color: #e30000;
}
.cid-rKLfe8CObU .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rKLfe8CObU .inner-container {
    width: 100% !important;
  }
}
.cid-rKLgvnZUjj {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rKLgvnZUjj .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rKLgvnZUjj .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-rKLgvnZUjj .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rKLgvnZUjj .inner-container {
    width: 100% !important;
  }
}
.cid-rKLisfbhHN {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #0f7699;
}
.cid-rKLisfbhHN .mbr-section-subtitle {
  color: #767676;
}
.cid-rKLisfbhHN H2 {
  color: #ffffff;
}
.cid-rKLisfM9rN {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rKLisfM9rN .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rKLisfM9rN .section-text {
  padding: 2rem 0;
  color: #0f7699;
}
.cid-rKLisfM9rN .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rKLisfM9rN .inner-container {
    width: 100% !important;
  }
}
.cid-rKLisgnhIV {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rKLisgnhIV .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rKLisgnhIV .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-rKLisgnhIV .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rKLisgnhIV .inner-container {
    width: 100% !important;
  }
}
.cid-rKLjNrd2SC {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #0375ff;
}
.cid-rKLjNrd2SC .mbr-section-subtitle {
  color: #767676;
}
.cid-rKLjNrd2SC H2 {
  color: #ffffff;
}
.cid-rKLjNs9oB2 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rKLjNs9oB2 .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rKLjNs9oB2 .section-text {
  padding: 2rem 0;
  color: #0f7699;
}
.cid-rKLjNs9oB2 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rKLjNs9oB2 .inner-container {
    width: 100% !important;
  }
}
.cid-rKLjNsWPbH {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rKLjNsWPbH .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rKLjNsWPbH .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-rKLjNsWPbH .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rKLjNsWPbH .inner-container {
    width: 100% !important;
  }
}
.cid-rQo8BiaL3w {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #f7f107;
}
.cid-rQo8BiaL3w H2 {
  color: #3a0074;
}
.cid-rQo8BiaL3w .mbr-section-subtitle {
  color: #108417;
}
.cid-rQo8Bjt1uB {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rQo8Bjt1uB .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rQo8Bjt1uB .section-text {
  padding: 2rem 0;
  color: #3a0074;
}
.cid-rQo8Bjt1uB .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rQo8Bjt1uB .inner-container {
    width: 100% !important;
  }
}
.cid-rQo8BkazYE {
  background: #f7f107;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cid-rQo8BkazYE .image-block {
  margin: auto;
}
.cid-rQo8BkazYE figcaption {
  position: relative;
}
.cid-rQo8BkazYE figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rQo8BkazYE .image-block {
    width: 100% !important;
  }
}
.cid-rSRs9oi45C {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rSRs9oi45C .line {
  background-color: #149dcc;
  color: #149dcc;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rSRs9oi45C .section-text {
  padding: 2rem 0;
}
.cid-rSRs9oi45C .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rSRs9oi45C .inner-container {
    width: 100% !important;
  }
}
.cid-rSSmyUEpXr {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cid-rSSmyUEpXr .image-block {
  margin: auto;
}
.cid-rSSmyUEpXr figcaption {
  position: relative;
}
.cid-rSSmyUEpXr figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rSSmyUEpXr .image-block {
    width: 100% !important;
  }
}
.cid-rSSkv2RSGP {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rSSkv2RSGP h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rSSkv2RSGP p {
  color: #767676;
  text-align: left;
}
.cid-rSSkv2RSGP .card-box {
  padding-top: 2rem;
}
.cid-rSSkv2RSGP .card-wrapper {
  height: 100%;
}
.cid-rSSkv2RSGP .card-title {
  text-align: center;
}
.cid-rQo8BkZFt5 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rQo8BkZFt5 .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rQo8BkZFt5 .section-text {
  padding: 2rem 0;
  color: #073b4c;
}
.cid-rQo8BkZFt5 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rQo8BkZFt5 .inner-container {
    width: 100% !important;
  }
}
.cid-rSRmV6oU1O {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rSRmV6oU1O H2 {
  color: #ea0c0c;
}
.cid-rSRmV6oU1O .mbr-section-subtitle {
  color: #232323;
}
.cid-rQo8BlXKpR {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 45px;
}
.cid-rQo8BlXKpR .image-block {
  margin: auto;
}
.cid-rQo8BlXKpR figcaption {
  position: relative;
}
.cid-rQo8BlXKpR figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rQo8BlXKpR .image-block {
    width: 100% !important;
  }
}
.cid-rQo8BqLZir {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f7f107;
}
.cid-rQo8BqLZir .line {
  background-color: #f9f295;
  color: #f9f295;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rQo8BqLZir .section-text {
  padding: 2rem 0;
  color: #3a0074;
}
.cid-rQo8BqLZir .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rQo8BqLZir .inner-container {
    width: 100% !important;
  }
}
.cid-rSS1zBSXI4 {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #f7ed4a;
}
.cid-rSS1zBSXI4 .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-rSS1zBSXI4 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rSS1zBSXI4 p {
  color: #767676;
  text-align: left;
}
.cid-rSS1zBSXI4 .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rSS1zBSXI4 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rSS1zBSXI4 .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-rSS1zBSXI4 P {
  color: #232323;
}
.cid-rQo8BycCvg {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cid-rQo8BycCvg .image-block {
  margin: auto;
}
.cid-rQo8BycCvg figcaption {
  position: relative;
}
.cid-rQo8BycCvg figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rQo8BycCvg .image-block {
    width: 100% !important;
  }
}
.cid-rSXtozxCaQ {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rSXtozxCaQ .line {
  background-color: #149dcc;
  color: #149dcc;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rSXtozxCaQ .section-text {
  padding: 2rem 0;
}
.cid-rSXtozxCaQ .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rSXtozxCaQ .inner-container {
    width: 100% !important;
  }
}
.cid-rQo8Bz10Xq {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rQo8Bz10Xq .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rQo8Bz10Xq .number-wrap {
  color: #232323;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-rQo8Bz10Xq .number {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #ea0c0c;
}
.cid-rQo8Bz10Xq .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-rQo8Bz10Xq .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: block;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #ea0c0c;
}
.cid-rQo8Bz10Xq .countdown-cont {
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rQo8Bz10Xq .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-rQo8Bz10Xq .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-rQo8Bz10Xq .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
    max-width: 25%;
    flex: 0 0 25%;
  }
  .cid-rQo8Bz10Xq .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-rQo8Bz10Xq .number,
  .cid-rQo8Bz10Xq .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-rQo8Bz10Xq .period {
    font-size: 0.8rem;
  }
}
.cid-rQo8Bz10Xq H2 {
  color: #232323;
}
.cid-rQo8BvdXej {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 60px;
}
.cid-rQo8BvdXej .image-block {
  margin: auto;
}
.cid-rQo8BvdXej figcaption {
  position: relative;
}
.cid-rQo8BvdXej figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rQo8BvdXej .image-block {
    width: 100% !important;
  }
}
.cid-rQo8BCrEnZ {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 0px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rQo8BCrEnZ .image-block {
  margin: auto;
}
.cid-rQo8BCrEnZ figcaption {
  position: relative;
}
.cid-rQo8BCrEnZ figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rQo8BCrEnZ .image-block {
    width: 100% !important;
  }
}
.cid-rQo8BDfDbb {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-rQo8BDfDbb .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rQo8BDfDbb .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-rQo8BDfDbb .media-wrap img {
  height: 6rem;
}
.cid-rQo8BDfDbb .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-rQo8BDfDbb .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rQo8BDfDbb .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-rQo8BDfDbb .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rQo8BDfDbb .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-rQo8BDfDbb .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rQo8BDfDbb .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rQo8BDfDbb .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rQo8BDfDbb .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rQo8BDfDbb .copyright > p {
  text-align: left;
}
